<div class="container">
    <div *ngIf="errores" class="alert alert-danger text-center barra" role="alert">
        Error al Iniciar Sesion -  Verifica tus Datos
     </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-box animated fadeInUp">
        <!--<h1 class="form-title">Login</h1>-->
        <br><img src="../../../../assets/logo.png" alt="logo_empresa" width="250px"><br><br>
        <input
         type="text" 
         formControlName="email" 
         [ngClass]="{'is-invalid': submitted && f['email'].errors}"
         placeholder="Email" 
         autofocus
        >
    
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Ingresa tu email</div>
        </div>
    
        <input 
         type="password" 
         formControlName="password" 
         [ngClass]="{'is-invalid': submitted && f['password'].errors}"
         placeholder="Password">
    
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Ingresa tu Contraseña</div>
        </div>
    
        <br><button type="submit" [disabled]="bt==='disabled'">
            Iniciar Sesion
        </button><br>
        
        <p class="reg">¿No tienes cuenta?</p>
        <!--<button class="regb">Registrarte</button>-->
    </form>

    <!--<div *ngIf="errores">
        error
    </div>-->
    <br><br>
</div>


<router-outlet></router-outlet>