.container{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-right: 0px;
    padding-top: 80px;
    padding-bottom: 17px;
    /*background-image: url('../../../../assets/fondo.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;*/
}

.barra{
    width: 100%;
    margin-top: -50px;
    margin-left: 70px;
}

.reg{
    color: #ffffff;
}

.form-box {
    margin-left: 400px;
    width: 500px;
    padding: 10px;
    background: #191919;
    text-align: center;
    border-radius: 10px;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 10px 5px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 380px;
    border-color: #ffffff;
}

.form-box button[type="submit"] {
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.regb{
    border: 0;
    background: #e0b334;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.regb:hover{
    background: none;
}

.form-box button[type="submit"]:hover {
    background: none;
}