<div class="error-container otro">
    <br><br><br><br><br><br><h1>404</h1>
    <h3>No encontramos nada amigo, revisa de nuevo la direccion</h3><br><br><br><br><br><br><br><br><br>
    <p class="return">Llevame de regreso a  <a routerLink="/login">empresa.com</a></p>
</div>