.otro {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .otro {
    font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    
    color: rgb(0, 0, 0);
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }

  .error-container {
    text-align: center;
    height: 100%;
  }

  .error-container h1 {
    margin: 0;
    font-size: 130px;
    font-weight: 300;
  }


  .return {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
  }

  .return a {
    padding-bottom: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-transition: border-color 0.1s ease-in;
    transition: border-color 0.1s ease-in;
  }

  .return a:hover {
    border-bottom-color: rgb(236, 0, 0);
  }