<mat-card class="card">
    
      <img mat-card-image src="../../../../assets/usu.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Reporte de los usuarios activos en la plataforma
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">Download</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
</mat-card>

