.card{
    margin-top: 20px;
    margin-left: 20px;
    width: 30%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }