<!--<mat-card>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="../../../../assets/grant.jpg" class="img" alt="logo_empresa" width="260px"></mat-grid-tile>
    </mat-grid-list>
    <div class="con">
        <h1>holas</h1>
    </div>
</mat-card>-->
