.example-spacer {
    flex: 0.98 auto;
}

a:link, a:visited,  a:hover, a:active
{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
}

li{
    list-style: none;
}

.icon{
    font-family: fantasy;
    font-size: 20px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(54, 50, 50, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    /*align-items: center;
    justify-content: center;*/
  }
  
  .example-sidenav {
    padding: 20px;
  }