<!--<div *ngIf="loguer == '1'">-->


                                                                                                                                                                                                                            
<!--</div>-->

<!--<div *ngIf="loguer != '1'">
  <router-outlet></router-outlet>
</div>-->

<router-outlet></router-outlet>