<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Vistas">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="categoria" class="pr">
                <th mat-header-cell *matHeaderCellDef > Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.cats.nombre}} </td>
              </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre" class="pr">
              <th mat-header-cell *matHeaderCellDef > Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="ruta">
              <th mat-header-cell *matHeaderCellDef> Ruta </th>
              <td mat-cell *matCellDef="let element"> 
                  {{element.ruta}}
                </td>
            </ng-container>

            <ng-container matColumnDef="icono">
                <th mat-header-cell *matHeaderCellDef> Icono </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon>{{element.icono}}</mat-icon>
                  </td>
              </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> 
        
                <!-- <div *ngIf="element.status == true">
                    <img src="../../../../assets/paloma.png" width="3%" alt="">
                </div>
        
                <div *ngIf="element.status != true">
                    <img src="../../../../assets/cruz.png" width="3%" alt="">
                </div> -->

                <div *ngIf="element.status == true">
                    <mat-icon>check</mat-icon>
                </div>
        
                <div *ngIf="element.status != true">
                    <mat-icon>cancel</mat-icon>
                </div>
                <!-- {{element.status}} -->

                
              </td>
            </ng-container>
        
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let element"> 
          
                     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">

                        <div *ngIf="element.nombre == 'Categorias'">

                            <button mat-menu-item disabled="true">
                                <mat-icon>check_circle</mat-icon>
                                <span>Activar Vista</span>
                              </button>

                            <button mat-menu-item disabled="true">
                                <mat-icon>block</mat-icon>
                                <span>Desactivar Vista</span>
                            </button>
                        </div>

                        <div *ngIf="element.status && element.nombre != 'Categorias'">

                            <button mat-menu-item disabled="true">
                                <mat-icon>check_circle</mat-icon>
                                <span>Activar Vista</span>
                              </button>

                            <button (click)="statusVista(element.id)" mat-menu-item disabled="false">
                                <mat-icon>block</mat-icon>
                                <span>Desactivar Vista</span>
                            </button>
                        </div>

                        <div *ngIf="element.status != true && element.nombre != 'Categorias'">

                            <button (click)="statusVista(element.id)" mat-menu-item>
                                <mat-icon>check_circle</mat-icon>
                                <span>Activar Vista</span>
                              </button>

                            <button mat-menu-item disabled="true">
                                <mat-icon>block</mat-icon>
                                <span>Desactivar Vista</span>
                            </button>
                        </div>

                        <button mat-menu-item>
                          <mat-icon>create</mat-icon>
                          <span>Modificar Vista</span>
                        </button>
                    </mat-menu>
          
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
    </mat-tab>

    <mat-tab label="Registrar Vistas">
        <app-registrar-vista></app-registrar-vista>    
    </mat-tab>
  </mat-tab-group>
         
         