<!--<app-dashboard-datos></app-dashboard-datos>-->
<!--<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="flex-shrink-0 p-3 bg-white prueba" style="width: 280px;">
        <a routerLink="/dashboard" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold"><h1 class="text-center">Menu</h1></span>
        </a>
        <ul class="list-unstyled ps-0">
          <li *ngFor="let item2 of lista2" class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              {{item2.titulo}}
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li *ngFor="let item of lista"><a routerLink="{{item.ruta}}" class="link-dark rounded">{{item.nombre}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 text-center">
      <app-dashboard-datos></app-dashboard-datos>
    </div>
  </div>
</div>-->
<!--<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile><app-barra></app-barra></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>-->


<!--<mat-grid-list cols="4" rowHeight="1:2">
  <mat-grid-tile>
    <div class="flex-shrink-0 p-3 bg-white prueba" style="width: 280px;">
      <ul class="list-unstyled ps-0">
        <li *ngFor="let item2 of lista" class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            {{item2.cats.nombre}}
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li *ngFor="let x of item2.prueba"><a routerLink="{{x.ruta}}" class="link-dark rounded"><mat-icon aria-hidden="false" aria-label="Example home icon">{{x.icono}}</mat-icon>{{x.nombre}}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div *ngIf="rolDato; else elseBlock">
      Bienvenido Soporte
    </div>
    <ng-template #elseBlock>Bienvenido Administrador</ng-template>
</mat-grid-tile>
</mat-grid-list>

<app-dashboard-datos></app-dashboard-datos>

<h1>{{ lista | json}}</h1>-->


xxxxxxxxxxffff
<router-outlet></router-outlet>