<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" (click)="getMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>

   <a routerLink="/main/dashboard"><span>Empresa Cool</span></a>

   <span class="example-spacer"></span>

   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

     <button mat-button [matMenuTriggerFor]="menu"><mat-icon>face</mat-icon></button>

     <mat-menu #menu="matMenu">
        <button routerLink="/user/update" mat-menu-item> Profile ({{user}}) </button>
        <button mat-menu-item>Preferences</button>
        <button (click)="cerrar()" mat-menu-item>Cerrar Sesion</button>
     </mat-menu>
  </button>
 </mat-toolbar>

 <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push">
    <div *ngFor="let item2 of lista">
      <div *ngIf="item2.vistas != null">
        <mat-accordion color="primary">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="icon">
                <mat-icon>{{item2.icono}}</mat-icon> &nbsp;
                {{item2.nombre}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let x of item2.vistas"><mat-icon>{{x.icono}} &nbsp; &nbsp;</mat-icon><a routerLink="{{x.ruta}}">{{x.nombre}}</a></li><br>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div *ngIf="item2.vistas == [null]">

      </div>
    </div>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>