<form [formGroup]="vista">
  <ng-template>Vistas Activas</ng-template>

  <div *ngFor="let item of vistass">
    
      
        <mat-checkbox class="form-check-input" 
          formControlName="vista"
          [checked]="false" 
          (change)="rolesC($event.checked, item.id)" 
          value="{{item.id}}"> {{item.nombre}} 
        </mat-checkbox> 
      

      <!-- <div *ngIf="item.nombre != item2.nombre">
        <mat-checkbox class="form-check-input" 
          formControlName="vista"
          [checked]="false" 
          (change)="rolesC($event.checked, item.id)" 
          value="{{item.id}}"> {{item.nombre}} 
        </mat-checkbox> 
      </div> -->
    
  </div>
</form>

<!-- <form [formGroup]="vista">
    <ng-template>Asignar Vista</ng-template>
    
     <mat-label>¿A quien se le permitira tener acceso?</mat-label><br> 
      <div *ngFor="let item of roles">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox class="form-check-input" 
              formControlName="rol" 
              [checked]="false" 
              (change)="rolesC($event.checked, item.id)" 
              value="{{item.id}}"> {{item.name}} 
          </mat-checkbox> 
          &nbsp;
      </div>
    
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button matStepperNext>Siguiente</button>
    </div>
  </form> -->