/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(228, 227, 227);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
