<mat-stepper class="pr" orientation="horizontal" [linear]="isLinear" #stepper>
    <!--vertical-->
        <mat-step [stepControl]="vista">
          <form [formGroup]="vista">
    
            <ng-template matStepLabel>Asignar Categoria</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Selecciona una Categoria</mat-label>
                <mat-select formControlName="categoria">
                    <mat-option *ngFor="let item of categorias" [value]="item.id">
                        {{item.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field> <br>
    
            <div>
              <button mat-button color="accent" matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
    
        <mat-step [stepControl]="vista">
          <form [formGroup]="vista">
            <ng-template matStepLabel>Crear Vista</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Ingresa el nombre de la Vista</mat-label>
              <input matInput formControlName="nombre" placeholder="Asignar Vista" required>
            </mat-form-field><br>
    
            <ng-template matStepLabel>Ingresar la ruta</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Ingresa la ruta de la Vista</mat-label>
              <input matInput formControlName="ruta" placeholder="/vista" required>
            </mat-form-field><br>
    
            <ng-template matStepLabel>Asignar Icono</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Ingresa el nombre del icono Vista</mat-label>
              <input matInput formControlName="icono" placeholder="home" required>
            </mat-form-field><br>
    
            <div>
              <button mat-button matStepperPrevious>Regresar</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
    
        <mat-step [stepControl]="vista">
            <form [formGroup]="vista">
              <ng-template matStepLabel>Asignar Vista</ng-template>
              
                <mat-label>¿A quien se le permitira tener acceso?</mat-label><br>
                <div *ngFor="let item of roles">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-checkbox class="form-check-input" 
                        formControlName="rol" 
                        [checked]="false" 
                        (change)="rolesC($event.checked, item.id)" 
                        value="{{item.id}}"> {{item.name}} 
                    </mat-checkbox> 
                    &nbsp;
                </div>
              
              <div>
                <button mat-button matStepperPrevious>Regresar</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
    
        <mat-step>
          <ng-template matStepLabel>Terminar</ng-template>
          <p>Tenemos toda la informacion necesaria, ¿deseas continuar?</p>
          <div>
            <button mat-button (click)="submit()">Registrar</button>
            <button mat-button matStepperPrevious>Regresar</button>
          </div>
        </mat-step>
    </mat-stepper>